/* .header-container {
  background: linear-gradient(90deg, #0f172a, #1e293b);
  color: #fff;
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.2);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  color: #38bdf8;
  text-shadow: 0 0 10px rgba(56, 189, 248, 0.5);
}

.profile span {
  color: #e2e8f0;
  font-weight: 500;
} */
